# 1. Hide Static Assets
static/* linguist-vendored

# 2. Hide LARGE HTML files (So Python wins)
templates/base.html linguist-vendored
templates/dashboard.html linguist-vendored
templates/resume_result.html linguist-vendored
templates/courses.html linguist-vendored
templates/jobs.html linguist-vendored
templates/admin.html linguist-vendored
templates/interview.html linguist-vendored

# 3. We are keeping ONLY these visible:
# - templates/login.html
# - templates/resume.html