# Ignore the 'static' folder (images, icons, heavy CSS libraries)
# This prevents them from counting towards your language stats
static/* linguist-vendored

# Keep 'templates' normal so HTML still shows up as a smaller percentage